<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<!-- Select 2 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
		<!-- FontAwesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<!-- Modal-Toast-->
		<link href="/css/sweetalert2.min.css" rel="stylesheet" />
		<!-- Personal-->
		<link href="/css/asignacion.css" rel="stylesheet" />

		<title>SISCOP | Asignación</title>
		<!-- add icon link -->
		<link rel="icon" href="/images/icon-title.png" />
	</head>
	<body>
		<div class="container">
			<!-- The Modal -->
			<div class="modal" id="myModal"></div>
			<!--Card-->
			<div class="card bg-light text-center">
				<h1 class="card-header" id="card-header">Región Operativa <%= datos.unidad.CveGpoOper %></h1>
				<div class="card-body">
					<input type="hidden" id="CveAsigna" value="<%= user.CveNumEmp %>" />
					<h2 class="card-title">Unidad: <span id="cveVehi"><%= datos.unidad.CveVehi%></span> Placa: <%= datos.unidad.PlacaVehi %></h2>
					<h3 class="card-text">Marca: <%= datos.unidad.CveMarcVeh %> Tipo: <%= datos.unidad.CveLinVehi %></h3>
					<br />
					<div class="row justify-content-md-center">
						<div class="col-9">
							<select class="select-personal" name="" id="selectPersonas">
								<% for(var persona of datos.personal) {%>
								<option value="<%= persona.CveNumEmp%>">
									<%= persona.CveGpoOper%> | <%= persona.CveNumEmp%> | <%=persona.full_name%>
								</option>
								<%}%>
							</select>
						</div>
						<div class="col-1">
							<%if (user.CveSubMod == "rgion"){%>
							<a class="btn etiqueta-abordo" id="btnAddPerson"> +</a>
							<% } %>
						</div>
					</div>
					<br />
					<!--table-->

					<div class="row justify-content-md-center">
						<div class="col-10" id="div-tabla">
							<table class="table" id="tabla-asignacion" data-rol="<%=user.CveSubMod%>">
								<thead>
									<tr>
										<th scope="col">Asignar</th>
										<th scope="col">Nombre</th>
										<th scope="col">Estatus</th>
										<th scope="col">Desasignar</th>
									</tr>
								</thead>
								<tbody id="table-body"></tbody>
								<!--Loader-->
								<div class="ocultar" id="loader"></div>
								<tbody id="table-body-0"></tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card-footer text-muted">
					<a href="/mapa" class="btn etiqueta-abordo">Regresar</a>
				</div>
			</div>
		</div>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<!-- Popper JavaScript -->
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<!-- Bootrstrap -->
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<!-- Select2 -->
		<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
		<!-- view JavaScript -->
		<script src="/js/sweetalert2.min.js"></script>
		<!-- view JavaScript -->
		<script src="/js/asignacion.js"></script>
	</body>
</html>
