<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="Aplicación para visualizar unidades que han tenido un tiempo prolongado en estado detenido" />
		<meta name="author" content="Luis Arturo Alarcón Blanco and contributors" />
		<!--Metaetiquetas para ser PWA-->
		<meta name="theme-color" content="#042A45" />
		<meta name="MobileOptimized" content="width" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<title>SISCOP | Estático</title>
		<link rel="icon" href="/images/icon-title.png" />

		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="/css/all.css" rel="stylesheet" />
		<link href="/css/sweetalert2.min.css" rel="stylesheet" />
		<!-- cluster -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css" />
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<link href="/css/estatico.css" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-expand-xl navbar-dark color-blue">
			<a class="navbar-brand" href="/estatico"><img src="/images/sspmq.png" class="img-fluid logo-sspm" /></a>
			<div class="row d-flex align-content-center flex-wrap">
				<h5 class="text-light p-user">SISCOP<sup> 2.0</sup></h5>
			</div>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline ml-auto mt-1">
					<div class="col select-mobile">
						<select class="js-example-basic-single js-states form-control unidad" id="unidad">
							<option value="Ninguno">Número de Unidad</option>
							<% for(var unidad of unidades){ %>
							<option value="<%= unidad.deviceid%>"><%= unidad.carlicence %></option>
							<% } %>
						</select>
					</div>
					<input type="datetime-local" class="form-control ml-sm-2 bt-mb-resp" id="fechaI" placeholder="Fecha Inicio" />
					<input type="datetime-local" class="form-control ml-sm-2 bt-mb-resp" id="fechaF" placeholder="Fecha Fin" />
					<button type="button" class="btn btn-outline-success btn-light my-sm-0 bt-search bt-mb-resp" id="buscar">Buscar</button>
				</form>
			</div>
		</nav>
		<div class="content">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Unidad</th>
							<th scope="col">Inicio</th>
							<th scope="col">Termino</th>
							<th scope="col">Tiempo</th>
							<th scope="col">Mapa</th>
						</tr>
					</thead>
					<tbody id="resultados"></tbody>
				</table>
			</div>
		</div>
		<div class="modal fade" tabindex="-1" role="dialog" id="modal-mapa">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Lugar de la detención de la unidad: <span id="modal-unidad"></span> <span id="data-unidad"></span>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<main class="page-content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12 col-sm-12" id="mapa">
										<div id="map"></div>
									</div>
								</div>
							</div>
						</main>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

		<!-- SCRIPTS -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/js/Lib/all.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/js/sweetalert2.min.js"></script>
		<script
			src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			crossorigin=""
		></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script src="/js/Lib/leaflet.plotter.js"></script>
		<script src="/js/Lib/Leaflet.Control.Custom.js"></script>
		<script src="/js/estatico.js"></script>
	</body>
</html>
