<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="Kevin Jimenez and Bootstrap contributors" />
		<meta name="generator" content="Jekyll v3.8.6" />
		<title>SISCOP | Historico</title>
		<link rel="icon" href="/images/icon-title.png" />
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="/css/styles.css" rel="stylesheet" />
		<link href="/css/all.css" rel="stylesheet" />
		<link href="/css/sweetalert2.min.css" rel="stylesheet" />
		<!-- cluster -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css" />
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark color-blue">
			<a class="navbar-brand" href="/historico"><img src="/images/sspmq.png" class="img-fluid logo-sspm" /></a>
			<div class="row d-flex align-content-center flex-wrap">
				<h5 class="text-light p-user">SISCOP<sup> 2.0</sup></h5>
			</div>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0 ml-auto">
					<div class="navbar-nav col" id="search-unidad">
						<select class="js-example-basic-single js-states form-control unidad" id="unidad">
							<option value="Ninguno">--Número de Unidad--</option>
							<% for(var unidad of unidades){ %>
							<option value="<%= unidad.deviceid%>"><%= unidad.carlicence %></option>
							<% } %>
							<option value="Ninguno">--Dispositivos traccar--</option>
							<% for(var device of traccardevices){ %>
							<option value="<%= device.id%>"><%= device.name %></option>
							<% } %>
						</select>
					</div>

					<input type="datetime-local" class="form-control ml-sm-2 bt-mb-resp" id="fechaI" placeholder="Fecha Inicio" />
					<input type="datetime-local" class="form-control ml-sm-2 bt-mb-resp" id="fechaF" placeholder="Fecha Fin" />
					<span id="search-box">
						<button type="button" class="btn btn-outline-success btn-light my-sm-0 bt-search bt-mb-resp" id="buscar">Buscar</button>
						<button type="button" class="btn btn-outline-success ml-2 my-sm-0 bt-mb-resp" id="play">
							<i class="fas fa-play"></i>
						</button>
						<button type="button" class="btn btn-outline-success ml-2 my-sm-0 bt-mb-resp" id="pausa">
							<i class="fas fa-pause"></i>
						</button>
						<button type="button" class="btn btn-outline-success ml-2 my-sm-0 bt-mb-resp" id="repetir">
							<i class="fas fa-redo-alt"></i>
						</button>
						<select type="datetime-local" class="form-control ml-sm-2 bt-mb-resp" id="velocidad">
							<option value="">---Velocidad---</option>
							<option value="500">.5 s</option>
							<option value="1000">1 s</option>
							<option value="2000">2 s</option>
							<option value="3000">3 s</option>
							<option value="4000">4 s</option>
							<option value="5000">5 s</option>
						</select>
						<button type="button" class="btn btn-outline btn-light ml-2 my-sm-0 bt-mb-resp" id="draw-polygon">
							<i class="fas fa-drafting-compass"></i>
						</button>
					</span>
					<span id="polygon-box" style="display: none">
						<span id="creating-polygon" style="display: none">
							<button type="button" class="btn btn-outline-success btn-light my-sm-0 bt-search bt-mb-resp" id="finish-polygon">
								<i class="fas fa-check"></i>
							</button>
							<button type="button" class="btn btn-outline-success btn-light my-sm-0 bt-search bt-mb-resp" id="undo-polygon">
								<i class="fas fa-undo-alt"></i>
							</button>
							<button type="button" class="btn btn-outline-success btn-light my-sm-0 bt-search bt-mb-resp" id="cancel-polygon">
								Cancelar
							</button>
						</span>
						<span id="do-polygon">
							<button type="button" class="btn btn-outline-success btn-light my-sm-0 bt-search bt-mb-resp" id="polygon">
								Crear Poligono
							</button>
							<button type="button" class="btn btn-success btn-1b my-sm-0 bt-search bt-mb-resp" id="includeUnidad">
								<i class="fas fa-car"></i>
							</button>
							<button type="button" class="btn btn-outline-success btn-light btn-2b my-sm-0 bt-search bt-mb-resp" id="includeTablet">
								<i class="fas fa-tablet"></i>
							</button>
							<button type="button" class="btn btn-success my-sm-0 bt-search bt-mb-resp" id="buscarUnidades">Buscar</button>
						</span>
						<button type="button" class="btn btn-outline btn-light ml-2 my-sm-0 bt-mb-resp" id="search-route">
							<i class="fas fa-route"></i>
						</button>
					</span>
				</form>
			</div>
		</nav>
		<div id="qroMap" class="mapa"></div>
		<div class="modal" id="modal-loading" data-backdrop="static">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="loading-spinner mb-2"></div>
						<div>Analizando GPS de unidades</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal-listado" tabindex="-1" role="dialog" aria-labelledby="modal-lista-Label" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="input-group" id="buscadorUnidadPoligono">
							<input
								type="text"
								class="form-control"
								placeholder="Buscar unidad que pasó por el poligono delimitado"
								id="buscarUnidad"
							/>
							<div id="icono" class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body modale-body" id="modalito">
						<span id="listadoUnidadPoligono"></span>
					</div>
					<div class="modal-footer">
						<h5 class="mr-auto">UNIDADES CON HISTORIAL EN POLIGONO</h5>
					</div>
				</div>
			</div>
		</div>
		<!-- page-wrapper -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/js/Lib/all.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/js/sweetalert2.min.js"></script>
		<script
			src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			crossorigin=""
		></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script src="/js/Lib/leaflet.plotter.js"></script>
		<script src="/js/Lib/Leaflet.Control.Custom.js"></script>
		<script src="/js/turf.min.js" charset="utf-8"></script>
		<script src="/js/qropolygon.js"></script>
		<script>
			const basic = L.tileLayer(
				'https://api.mapbox.com/styles/v1/kevin155/ckl6qaygo19i917nm3vp6b66k/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1Ijoia2V2aW4xNTUiLCJhIjoiY2tsNnEyb29hMWtxbjJubW02NzRiN2c0biJ9.5v9L-brCDD9YxULSBEouSA',
				{
					minZoom: 3,
					tileSize: 512,
					zoomOffset: -1,
					attribution: 'SSPMQ DIR. INF. DEP. SISTEMAS',
				}
			);
			var includeUnidad = true;
			var includeTablet = false;
			var polygonSearchType = 0;
			var points = [];
			var line = null;
			var marker = null;
			var capaMarker = null;
			var markers = [];
			var isRecorridoUnidad = 1;
			var Icon = L.icon({
				iconUrl: '/images/icono2.png',
				iconSize: [40, 40],
				iconAnchor: [20, 20],
			});
			var ipad = L.icon({
				iconUrl: '/images/ipad.png',
				iconSize: [40, 40],
				iconAnchor: [20, 20],
			});
			var moto = L.icon({
				iconUrl: '/images/moto.png',
				iconSize: [40, 40],
				iconAnchor: [20, 20],
			});
			var count = 0;
			var eje = null;
			var velocidad = 1000;
			var mymap = L.map('qroMap', {
				center: [20.58899, -100.390893],
				zoom: 14,
				scrollWheelZoom: true,
				layers: [basic],
			});
			var lines = new L.layerGroup();
			function show(lat, lon) {
				marker.setLatLng([lat, lon]);
				mymap.setView([lat, lon], 20);
			}
			function redraw(point) {
				if (!capaMarker) {
					capaMarker = L.layerGroup().addTo(mymap);
				}
				if (markers.length > 0) {
					mymap.removeLayer(markers[markers.length - 1]);
					markers.length--;
				}
				if (isRecorridoUnidad == 1) {
					marker = L.marker(point, { icon: Icon }).addTo(mymap);
				} else if (isRecorridoUnidad == 2) {
					marker = L.marker(point, { icon: ipad }).addTo(mymap);
				} else if (isRecorridoUnidad == 3) {
					marker = L.marker(point, { icon: moto }).addTo(mymap);
				} else {
					marker = L.marker(point, { icon: Icon }).addTo(mymap);
				}
				markers.push(marker);
				capaMarker.addLayer(markers[markers.length - 1]);

				var contenido = '';
				contenido +=
					'<li class="list-group-item"><button type="button" class="btn btn-primary show" onclick="show(' +
					point.lat +
					',' +
					point.lon +
					')">' +
					point.hora +
					'<br>' +
					point.lat +
					'<br>' +
					point.lon +
					'</button></li>';
				$('#list').prepend(contenido);
				line.addLatLng(point);
				marker.setLatLng(point);
				mymap.setView(point, 16);
			}
			function update() {
				if (points.length) {
					count += 1;
					redraw(points.shift());
					eje = setTimeout(update, velocidad);
				} else {
					$('#pausa').css('display', 'none');
					// $("#repetir").css("display", "inline-block");
				}
			}

			L.control
				.custom({
					position: 'topright',
					content: '<div class="scroll"> <ul class="list-group" id="list"></ul> </div>',
					classes: '',
					style: {
						margin: '10px',
						padding: '0px 0 0 0',
						cursor: 'pointer',
					},
				})
				.addTo(mymap);

			function restart() {
				console.log('Restarting');
				$('#pausa').css('display', 'inline-block');
				$('#play').css('display', 'none');
				clearTimeout(eje);
				if (lines != null) {
					lines.clearLayers();
				}
				points = [];
			}

			let latLng;
			let usuario;
			let queretaro;
			let estaEnQro;
			let puntosDelimitadores = [];
			let punto;
			let linea;

			let pointMarker = L.icon({
				iconUrl: '/images/x.png',
				iconSize: [14, 14],
				iconAnchor: [7, 7],
			});

			let coords = [];
			let capa_delimitadores = null;
			let capa_calles = null;
			let polygon;

			function agregarMarcador(e) {
				console.log(puntosDelimitadores.length);
				latLng = mymap.mouseEventToLatLng(e.originalEvent);
				usuario = turf.point([latLng.lat, latLng.lng]);
				queretaro = turf.polygon([miQueretaro]);
				estaEnQro = turf.booleanPointInPolygon(usuario, queretaro);
				if (estaEnQro == true) {
					punto = [latLng.lat, latLng.lng];
					puntosDelimitadores.push(
						L.marker(punto, {
							icon: pointMarker,
						})
					);
					capa_delimitadores.addLayer(puntosDelimitadores[puntosDelimitadores.length - 1]);
					/* lineas */
					coords.push([latLng.lat, latLng.lng]);
					linea = L.polyline(coords, {
						color: 'red',
					});
					capa_calles.addLayer(linea);
				} else {
					Swal.fire({
						title: '¡Ubicación denegada!',
						text: 'Por favor coloque un marcador en la zona delimitada del municipio de Querétaro',
						icon: 'error',
					});
				}
			}

			function cancelPoligon() {
				$('#do-polygon').show();
				$('#creating-polygon').hide();
				if (mymap.hasLayer(capa_calles)) {
					mymap.removeLayer(capa_calles);
				}
				//coords = [];
				if (mymap.hasLayer(capa_delimitadores)) {
					mymap.removeLayer(capa_delimitadores);
				}
				//punto = [];
				mymap.off('click', console.log('Poligono cancelado'));
			}

			function deleteFinishedPoligon() {
				if (mymap.hasLayer(polygon)) {
					mymap.removeLayer(polygon);
				}
			}

			function diferenciaFechas(fechaIni, fechaFin) {
				let desde = new Date(fechaIni),
					hasta = new Date(fechaFin),
					diff = hasta.getTime() - desde.getTime();

				return diff / 60000;
			}

			function listado(data) {
				$('#listadoUnidadPoligono').empty();
				let lista = '<ul class="list-group list-group-flush">';
				data.forEach((element, key) => {
					lista +=
						"<li  class='lista btn-list align-items-center list-group-item'>" +
						'<span>' +
						(key + 1) +
						' - Unidad o Dispositivo: <b>' +
						element.unidad +
						'</b>, Fecha y hora: <b>' +
						element.time +
						'</b></span></li>';
				});
				lista += '</ul>';
				$('#listadoUnidadPoligono').append(lista);
			}

			$(document).ready(function () {
				$('.js-example-basic-single').select2({
					width: 'resolve', // need to override the changed default
				});
				$('#buscar').click(function () {
					let _unidades = $('#unidad').val();
					let _fechaI = $('#fechaI').val();
					let _fechaF = $('#fechaF').val();
					_fechaI = _fechaI.substr(0, 16).replace('T', ' ');
					_fechaF = _fechaF.substr(0, 16).replace('T', ' ');
					if (_unidades == 'Ninguno' || _fechaI == '' || _fechaF == '') {
						Swal.fire({
							icon: 'warning',
							title: '¡Advertencia!',
							text: 'Verifique que todos los datos sean correctos',
							confirmButtonColor: '#6c757d',
							confirmButtonText: 'Verificar',
						});
					} else {
						$('#modal-loading').modal('show');
						restart();
						let url = '/historicoU';
						isNaN(_unidades) ? (url = '/historicoU') : (url = '/historicoTraccar');
						console.log('URL', url);
						$.ajax({
							url: url,
							type: 'POST',
							dataType: 'json',
							data: {
								unidades: _unidades,
								fechaI: _fechaI + ':00',
								fechaF: _fechaF + ':59',
							},
							success: function (data) {
								$('#modal-loading').modal('hide');
								console.log('Resultado', data);
								if (data.length > 0) {
									$('#list').empty();
									if (url == '/historicoU') {
										isRecorridoUnidad = 1;
										for (let i = 0; i < data.length; i++) {
											points.push({
												lat: data[i].gpslat,
												lon: data[i].gpslng,
												hora: data[i].gpstime,
											});
										}
									} else {
										let selectedval = $('#unidad').select2('data');
										console.log(selectedval[0].text);
										selectedval[0].text.includes('SP') ? (isRecorridoUnidad = 3) : (isRecorridoUnidad = 2);
										console.log('SP', selectedval[0].text.includes('SP'));
										console.log('tablet o sp', isRecorridoUnidad);
										for (let i = 0; i < data.length; i++) {
											points.push({
												lat: data[i].latitude + '',
												lon: data[i].longitude + '',
												hora: data[i].devicetime + '',
											});
										}
									}
									mymap.setView(points[0], 14);
									var recorido = L.polyline([points], { color: 'red', weight: 2 });
									line = L.polyline([], { color: 'blue', weight: 3 });
									if (lines != null) {
										lines.clearLayers();
									}
									lines.addLayer(recorido).addTo(mymap);
									lines.addLayer(line).addTo(mymap);
									update();
									$('#pausa').css('display', 'inline-block');
									$('#play').css('display', 'none');
									repetir = points;
								} else {
									Swal.fire({
										icon: 'info',
										title: '¡No se encontraron datos!',
										text: 'No se obtuvó registros de GPS de la unidad/dispositivo',
										confirmButtonColor: '#007bff',
										confirmButtonText: 'Aceptar',
									});
								}
							},
							fail: function (error) {
								console.log(error);
							},
						});
					}
				});
				$('#pausa').click(function () {
					$('#pausa').css('display', 'none');
					$('#play').css('display', 'inline-block');
					clearTimeout(eje);
				});
				$('#play').click(function () {
					$('#pausa').css('display', 'inline-block');
					$('#play').css('display', 'none');
					update();
				});
				$('#velocidad').change(function () {
					velocidad = $('#velocidad').val();
				});
				//Modificaciones polygono
				$('#draw-polygon').click(function () {
					$('#search-box').hide();
					$('#search-unidad').hide();
					$('#polygon-box').show();
					$('#do-polygon').show();
					$('#creating-polygon').hide();
					points = [];
					$('#list').empty();
					restart();
					if (markers.length > 0) {
						mymap.removeLayer(markers[markers.length - 1]);
						markers.length--;
					}
				});
				$('#search-route').click(function () {
					$('#polygon-box').hide();
					$('#search-box').show();
					$('#search-unidad').show();
					cancelPoligon();
					if (polygon) {
						deleteFinishedPoligon();
					}
				});
				$('#polygon').click(function () {
					if (polygon) {
						deleteFinishedPoligon();
					}
					coords = [];
					punto = [];
					puntosDelimitadores = [];
					$('#do-polygon').hide();
					$('#creating-polygon').show();
					mymap.on('click', (e) => agregarMarcador(e));
					capa_delimitadores = L.layerGroup().addTo(mymap);
					capa_calles = L.layerGroup().addTo(mymap);
				});
				$('#cancel-polygon').click(() => cancelPoligon());
				$('#undo-polygon').click(function () {
					if (puntosDelimitadores.length > 0) {
						mymap.removeLayer(puntosDelimitadores[puntosDelimitadores.length - 1]);
						puntosDelimitadores.length--;
					}
					if (mymap.hasLayer(capa_calles)) {
						mymap.removeLayer(capa_calles);
						capa_calles = L.layerGroup().addTo(mymap);
					}
					if (coords.length > 0) {
						coords.splice(-1, 1);
						linea = linea = L.polyline(coords, {
							color: 'red',
						});
						capa_calles.addLayer(linea);
					} else {
						Swal.fire({
							icon: 'info',
							title: '¡Información!',
							text: 'No se puede deshacer mas cambios',
							confirmButtonColor: '#007bff',
							confirmButtonText: 'Aceptar',
						});
					}
				});
				$('#finish-polygon').click(function () {
					if (puntosDelimitadores.length > 2) {
						polygon = L.polygon(coords, { color: 'blue' });
						polygon.addTo(mymap);
						//Borrar lineas rojas y puntos
						cancelPoligon();
					} else {
						Swal.fire({
							icon: 'info',
							title: '¡Información!',
							text: 'No hay suficientes puntos para la delimitación del poligono',
							confirmButtonColor: '#007bff',
							confirmButtonText: 'Aceptar',
						});
					}
				});
				$('#buscarUnidades').click(function () {
					let _fechaI = $('#fechaI').val();
					let _fechaF = $('#fechaF').val();
					_fechaI = _fechaI.substr(0, 16).replace('T', ' ');
					_fechaF = _fechaF.substr(0, 16).replace('T', ' ');
					_fechaI = _fechaI + ':00';
					_fechaF = _fechaF + ':59';
					let diff = diferenciaFechas(_fechaI, _fechaF);
					if (coords.length == 0 || _fechaI == '' || _fechaF == '') {
						Swal.fire({
							icon: 'warning',
							title: '¡Advertencia!',
							text: 'Verifique que todos los datos sean correctos',
							confirmButtonColor: '#',
							confirmButtonText: 'Aceptar',
						});
					} else if (diff > 720) {
						Swal.fire({
							icon: 'warning',
							title: '¡Advertencia!',
							text: 'El rango de fechas no puede ser mayor a 12 horas',
							confirmButtonColor: '#6c757d',
							confirmButtonText: 'Aceptar',
						});
					} else if (includeTablet == false && includeUnidad == false) {
						Swal.fire({
							icon: 'warning',
							title: '¡Advertencia!',
							text: 'Seleccione el filtro de unidades o tabletas/motocicletas para realizar la busqueda',
							confirmButtonColor: '#6c757d',
							confirmButtonText: 'Verificar',
						});
					} else {
						$('#modal-loading').modal('show');
						coords.push(coords[0]);
						if (!includeUnidad) {
							//we only search/check for traccar
							polygonSearchType = 1;
						} else if (!includeTablet) {
							//We only search for police cars
							polygonSearchType = 2;
						} else {
							// We search both
							polygonSearchType = 3;
						}
						console.log(polygonSearchType);
						$.ajax({
							url: '/historicoAll',
							type: 'POST',
							dataType: 'json',
							data: {
								poligono: JSON.stringify(coords),
								fechaI: _fechaI,
								fechaF: _fechaF,
								searchType: polygonSearchType,
							},
							timeout: 900000,
							success: function (data) {
								$('#modal-loading').modal('hide');
								console.log(data);
								if (data.length > 0) {
									listado(data);
									$('#modal-listado').modal('show');
								} else {
									Swal.fire({
										icon: 'info',
										title: '¡No se encontraron datos!',
										text: 'No se obtuvó registros de GPS de la unidad/tableta',
										confirmButtonColor: '#007bff',
										confirmButtonText: 'Aceptar',
									});
								}
							},
							fail: function (error) {
								$('#modal-loading').modal('hide');
								console.log(error);
							},
						});
					}
				});
				$('#buscarUnidad').on('keyup', function () {
					let patron = $(this).val();
					// si el campo está vacío
					if (patron == '') {
						// mostrar todos los elementos
						$('.lista').css('display', 'flex');
						// si tiene valores, realizar la búsqueda
					} else {
						// atravesar la lista
						$('.lista').each(function () {
							if ($(this).text().indexOf(patron) < 0) {
								// si el texto NO contiene el patrón de búsqueda, esconde el elemento
								$(this).css('display', 'none');
							} else {
								// si el texto SÍ contiene el patrón de búsqueda, muestra el elemento
								$(this).css('display', 'flex');
							}
						});
					}
				});
				$('#includeTablet').click(function () {
					if (includeTablet == false) {
						console.log('Tablet Btn On');
						includeTablet = true;
						$('#includeTablet').removeClass('btn-outline-success btn-light btn-2b');
						$('#includeTablet').addClass('btn-success btn-1b');
					} else {
						console.log('Tablet Btn Off');
						includeTablet = false;
						$('#includeTablet').removeClass('btn-success btn-1b');
						$('#includeTablet').addClass('btn-outline-success btn-light btn-2b');
					}
				});
				$('#includeUnidad').click(function () {
					if (includeUnidad == false) {
						console.log('Unidad Btn On');
						includeUnidad = true;
						$('#includeUnidad').removeClass('btn-outline-success btn-light btn-2b');
						$('#includeUnidad').addClass('btn-success btn-1b');
					} else {
						console.log('Unidad Btn Off');
						includeUnidad = false;
						$('#includeUnidad').removeClass('btn-success btn-1b');
						$('#includeUnidad').addClass('btn-outline-success btn-light btn-2b');
					}
				});
			});
		</script>
	</body>
</html>
