<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="Mark Otto, Jacob Thornton, Ulises Basurto and Bootstrap contributors" />
		<meta name="generator" content="Jekyll v3.8.6" />
		<title>SISCOP | Login</title>
		<link rel="icon" href="/images/icon-title.png" />
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Custom styles for this template -->
		<link href="css/login.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="card text-center">
				<div class="card-header">
					<h3>Iniciar sesión</h3>
				</div>
				<div class="card-body">
					<form class="form-signin" action="/login" method="POST">
						<img class="mb-4" src="images/sspmq.png" alt="" width="150" height="150" />
						<h1 class="h3 mb-3 font-weight-normal">Bienvenido | SISCOP <sup>2.0</sup></h1>
						<label for="usuario" class="sr-only">Usuario</label>
						<input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required autofocus />
						<label for="password" class="sr-only">Contraseña</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required />
						<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
						<%if (error != ""){%>
						<p></p>
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<strong>¡Error!</strong> <%= error %>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<%}%>
						<p class="mt-5 mb-3 text-muted">&copy;SSPMQ</p>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script
		src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"
	></script>
	<!-- Popper JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"
	></script>
	<!-- Bootrstrap -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"
	></script>
</html>
