<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="Luis Arturo Alarcón Blanco and Bootstrap contributors" />
		<meta name="generator" content="Jekyll v3.8.6" />
		<title>SISCOP | SSPMQ</title>
		<link rel="icon" href="/images/icon-title.png" />
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Icon ionics -->
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
			integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
			crossorigin=""
		/>
		<!-- Custom styles for this template -->
		<link href="/css/main.css" rel="stylesheet" />
		<link href="/css/sweetalert2.min.css" rel="stylesheet" />
		<!-- cluster -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css" />
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-sspm fixed-top">
			<a class="navbar-brand" href="#"><img src="/images/sspmq.png" class="img-fluid logo-sspm" /></a>
			<div class="row d-flex align-content-center flex-wrap">
				<h5 class="text-light p-user">SISCOP<sup>2.0</sup></h5>
			</div>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav ml-auto">
					<%if (user.CveSubMod.find(ele=> ele.permiso.trim() == 'uni')){%>
					<li class="nav-item">
						<a
							class="nav-link text-light"
							data-toggle="modal"
							data-target="#modal-lectores"
							title="Listado de lectores de placas"
							href=""
						>
							<span>Lectores</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/reporte" target="_blank">Sin reportar</a>
					</li>
					<% } %>
					<li class="nav-item">
						<a class="nav-link text-light" href="/historico" target="_blank">Historico</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/estatico" target="_blank">Estático</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" data-toggle="modal" data-target="#modal-lista" title="Listado de dispositivos GPS" href="">
							<span class="txt-title-mobile">Filtrar</span>
							<i class="fa fa-search mx-2" aria-hidden="true"></i
						></a>
					</li>
					<%if (user.CveSubMod.find(ele=> ele.permiso == 'rgion')){%>
					<li class="nav-item">
						<a class="nav-link text-light" data-toggle="modal" data-target="#modal-filtro" title="Unidades y tabletas por región" href="">
							<span class="txt-title-mobile">Regiones</span>
							<i class="fa fa-filter mx-2" aria-hidden="true"></i>
						</a>
					</li>
					<% } %>
					<li class="nav-item">
						<a class="nav-link text-light" href="/logout">
							<span class="txt-title-mobile">Cerrar sesión</span>
							<i class="fas fa-sign-out-alt ml-2"></i
						></a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="mapa">
			<div id="qroMap"></div>
		</main>
		<div class="modal fade" id="modal-lectores" tabindex="-1" role="dialog" aria-labelledby="modal-lectores-Label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="input-group" id="BuscadorLectores">
							<input type="text" class="form-control" placeholder="Buscar" id="buscarLector" />
							<div id="icono" class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span id="lectores"></span>
					</div>
					<div class="modal-footer">
						<h5 class="mr-auto">LECTORES DE PLACAS</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal-lista" tabindex="-1" role="dialog" aria-labelledby="modal-lista-Label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<div class="input-group" id="BuscadorUnidad">
							<input type="text" class="form-control" placeholder="Buscar" id="buscar" />
							<div id="icono" class="input-group-append">
								<span class="input-group-text">
									<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</div>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span id="listado"></span>
					</div>
					<div class="modal-footer">
						<h5 class="mr-auto">EQUIPO TECNOLÓGICO</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal-filtro" tabindex="-1" role="dialog" aria-labelledby="modal-filtro-Label" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">GRUPOS Y REGIONES</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span id="filtrado">
							<input type="hidden" id="regiones" value="null" />
							<button
								class="lista btn-list btn btn-light btn btn-block align-items-center"
								onclick="selectRegion('null')"
								data-toggle="collapse"
								data-target="#navbarsExampleDefault"
							>
								<span class="secure">TODOS</span>
								<i class="fas fa-users secure"></i>
							</button>
							<% for(var region of regiones){ %>
							<button
								class="lista btn-list btn btn-light btn btn-block align-items-center"
								data-toggle="collapse"
								data-target="#navbarsExampleDefault"
								onclick="selectRegion('<%= region.CveGpoOper.trim()%>')"
							>
								<span class="secure"><%= region.DesGpoOper %></span>
								<% if (region.DesGpoOper.includes('REGION')) { %>
								<i class="fas fa-shield-alt secure"></i>
								<% }else { %>
								<i class="fas fa-users secure"></i>
								<% } %>
							</button>
							<% } %>
						</span>
					</div>
					<div class="modal-footer">
						<h5 class="mr-auto"></h5>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Info -->
		<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="tituloInfo"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container">
							<div class="row">
								<div class="form-group col-md-6 col-6 col-sm-6">
									<h4>Personal en unidad:</h4>
									<ul class="list-group" id="ListaPersonal"></ul>
								</div>
								<div class="form-group col-md-6 col-6 col-sm-6">
									<h4>Equipo:</h4>
									<ul class="list-group" id="ListaEquipo"></ul>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- FIN MODAL -->

		<% if(user.CveSubMod.find(ele=> ele.permiso.trim() == 'viUni')){ %>
		<input type="hidden" id="videoUnidad" value="videoUnidad" />
		<% } if(user.CveSubMod.find(ele=> ele.permiso.trim() == 'addP')){ %>
		<input type="hidden" id="agregarPersonal" value="agregarPersonal" />
		<% } if(lat !=null){ %>
		<input type="hidden" name="latP" id="latP" value="<%= lat %>" />
		<% } if(long !=null){ %>
		<input type="hidden" name="longP" id="longP" value="<%= long %>" />
		<% } if(user.CveSubMod.find(ele=> ele.permiso.trim() == 'table')){ %>
		<input type="hidden" name="table" id="table" value="table" />
		<% } if(user.CveSubMod.find(ele=> ele.permiso.trim() == 'uni')){ %>
		<input type="hidden" name="uni" id="uni" value="uni" />
		<% } if(user.CveSubMod.find(ele=> ele.permiso.trim() == 'emer')){ %>
		<input type="hidden" name="emer" id="emer" value="emer" />
		<% } %>
		<input type="hidden" name="usuario" id="usuario" value="<%= user.CveSubMod %>" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/jquery/mapaC.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script
			src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			crossorigin=""
		></script>
		<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
		<script src="/vendor/jquery/adminlte.js"></script>
		<script src="/js/sweetalert2.min.js"></script>
		<script src="/js/mapa3.js"></script>
		<script src="/js/Selector.js"></script>
	</body>
</html>
