<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />

		<link href="/css/reporte.css" rel="stylesheet" />

		<link rel="stylesheet" href="/css/datatables.min.css" />

		<title>SISCOP | VideoVigilancia</title>
		<!-- add icon link -->
		<link rel="icon" href="/images/icon-title.png" />
	</head>
	<body>
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header text-center">
							<h1>Unidades sin reportar</h1>
						</div>
						<div class="card-body text-center">
							<table class="table table-striped table-bordered table-hover dataTables-clientes">
								<thead>
									<tr>
										<th>CveVehi</th>
										<th>Region</th>
										<th>Hora de reporte</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i < patrullas.length; i++){ %>
									<tr>
										<td><%= patrullas[i].CveVehi %></td>
										<td><%= patrullas[i].region %></td>
										<td><%= patrullas[i].gpstime %></td>
									</tr>
									<% } %>
								</tbody>
								<tfoot>
									<tr>
										<th>CveVehi</th>
										<th>Region</th>
										<th>Hora de reporte</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="card-footer">
							<button onclick="window.close()" class="btn btn-danger">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<!-- Bootrstrap -->
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- view JavaScript -->
		<script src="/js/sweetalert2.min.js"></script>
		<script src="/js/datatables.min.js"></script>
		<script>
			$(document).ready(function () {
				// $.ajax({
				//   url: '/obtenerInfoVehiculo',
				//   type: 'POST',
				//   dataType: 'json',
				//   success: function (vehiculos) {
				//     console.log(vehiculos);
				//     var html = '';
				//     var i;
				//     for(i = 0; i < vehiculos.vehiculos.length; i++){
				//       html += '<tr>' +
				//         '<td>' + vehiculos.vehiculos[i].CveVehi + '</td>' +
				//         '<td>' + vehiculos.vehiculos[i].region + '</td>' +
				//         '<td>' + vehiculos.vehiculos[i].gpstime + '</td>' +
				//         '</tr>'
				//     }
				//     $('#vehiculos').html(html);
				//   }
				// }).done(function () {
				//   // alert('hola');
				// });

				$('.dataTables-clientes').DataTable();
			});
		</script>
	</body>
</html>
