<html>
  <head>
    <title>Videos | Unidad</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
     <link rel="stylesheet" href="/css/videoUnidad.css">
     <link href="/css/sweetalert2.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="header text-center">
              <h5 class="card-title">Videos de la unidad: <strong id="unidad"><%= unidad %></strong></h5>
              <input hidden id="idUnidad" value="<%= idUnidad %>">
              <input hidden id="user" value="<%= user.CveUsuario %>">
              <input hidden id="pass" value="<%= user.PasswdUsr %>">
              <input hidden id="CveVehi" value="<%= unidad %>">
        </div>
        <div class="canales" id="canales">
          <ul class="list-group list-group-horizontal">
            <li class="fil-lista"><button class="btn  canal active">1</button></li>
            <li class="fil-lista"><button class="btn">2</button></li>
            <li class="fil-lista"><button class="btn">3</button></li>
            <li class="fil-lista"><button class="btn">4</button></li>
          </ul>
        </div>
        <div id="container" class="camera">
          <video id="video" controls></video>
        </div>
        <div id="myProgress">
          <div id="myBar">0%</div>
        </div>
        <div class="footer">
          <button onclick="cerrar()" class="btn etiqueta-abordo">Cerrar</button>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Bootrstrap -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flv.js/1.3.3/flv.min.js" integrity="sha512-5o4g6Vk4oXdV46OAmwsTGXT6W/QMP2Yn8qa7DutEaE5qu669KUA8c0cvNkPhnF7V9g27Oo+0cE5Tf7r5qu233Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/VideoUnidad.js"></script>
  </body>
</html>
