<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<!-- FontAwesome-->
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
		<!-- Modal-Toast-->
		<link href="/css/sweetalert2.min.css" rel="stylesheet" />
		<!-- Personal-->
		<link href="/css/video.css" rel="stylesheet" />
		<title>SISCOP | VideoVigilancia</title>
		<!-- add icon link -->
		<link rel="icon" href="/images/icon-title.png" />
		<script src="/js/XPMobileSDK.js"></script>
	</head>
	<body>
		<div class="container-fluid" id="principal">
			<div class="row">
				<div class="header text-center">
					<h5 class="card-title">Camara: <%= camara[0].nombre %></h5>
				</div>
				<div id="container" class="camera">
					<input type="hidden" id="DeviceId" value="<%= camara[0].DeviceId %>" />
					<canvas id="canvas"></canvas>
					<video id="video"></video>
					<div class="bottombar" style="display: done">
						<div class="pauseButton btn" title=""></div>
						<div class="playbackBarButtons">
							<div class="playBackButton btn"></div>
							<div class="playTimeIndex"></div>
							<div class="playForwardButton btn" title="Play Forward"></div>
						</div>
					</div>
				</div>
				<div class="footer">
					<button onclick="window.close()" class="btn etiqueta-abordo">Cerrar</button>
				</div>
			</div>
		</div>

		<!-- ModalLoader -->
		<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" id="ModalLoader">
			<div class="modal-dialog modal-sm">
				<div class="modal-content" style="width: 48px">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</div>
			</div>
		</div>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<!-- Popper JavaScript -->
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<!-- Bootrstrap -->
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<!-- Select2 -->
		<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
		<!-- view JavaScript -->
		<script src="/js/sweetalert2.min.js"></script>
		<script src="/js/Milestone.js"></script>
	</body>
</html>
