:root {
  --azul-sspm-color: #002b45;
  --amarillo-sspm-color: #f8be29;
}
body {
  background-color: #dcdcdc;
}
.container {
  padding: 75px;
}
.tr_verde {
  border: solid 1px var(--azul-sspm-color);
}
.tr_rojo {
  border: solid 1px var(--amarillo-sspm-color);
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 300px;
  height: 300px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--azul-sspm-color);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#card-header {
  background-color: var(--azul-sspm-color);
  color: white;
}
.etiqueta-abordo {
  background-color: var(--azul-sspm-color);
  color: white !important;
}
.etiqueta-anterior {
  background-color: var(--amarillo-sspm-color);
  color: black !important;
}
.btn-amarillo {
  background-color: var(--amarillo-sspm-color);
  color: black;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
