:root {
	--primary: #042a45;
	--light: #ffffff;
	--grey: #979494;
	--ivalid: #dad3d3;
}

body {
	height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
}

.leaflet-container {
	width: 100%;
	height: 40vh;
}

.page-content #map {
	width: 100%;
	height: 50vh;
	
}

.color-blue {
    background: #042a45 !important;
}
  
.p-user {
    margin: auto;
    top: auto;
    margin-right: 20px;
    margin-left: 5px;
}

.logo-sspm {
    height: 25px;
    width: 25px;
    margin-left: 3px;
}

.content{
    background-color: #FFF;
    margin: 1vh;
    height: auto;
    filter: drop-shadow( 3px 3px 3px #ADADAD );
    border-width: 1px;
    border-radius: 5px;
    border-color: #ADADAD;
    padding: 5px;
    padding-right: 20px;
}

.bt-search {
    margin-left: 5px;
}

.select-mobile{
    display: flex;
    padding-left: 0%;
    padding-right: 0%;
    justify-content: end !important;
}

.select2-selection__rendered {
    line-height: 34px !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}

.select2-selection__arrow {
  height: 38px !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .inputs-mobile{
        flex-direction: column;
        padding-right: 1%;
    }

    .bt-mb-resp{
        display: block;
        max-width: 100% !important;
        width: 100% !important;
        margin-bottom: 3px;
        margin-left: 0% !important;
    }

    .select-mobile {
        padding: 0% !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
        justify-content: end !important;
    }

    .bt-mb-resp {
        margin-top: 2px;
    }
    
    .bt-search {
        margin-left: 0px;
    }

    .select-mobile{
        margin-bottom: 3px;
        display: inline !important;
        width: fit-content !important;
    }

    .form-inline .form-control {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 767px) {
    .inputs-mobile{
        flex-direction: column;
        padding-right: 1%;
    }

    .bt-mb-resp{
        display: block;
        max-width: 100% !important;
        width: 100% !important;
        margin-bottom: 3px;
        margin-left: 0% !important;
    }

    .select-mobile {
        padding: 0% !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .bt-mb-resp {
        margin-top: 2px;
    }
    
    .bt-search {
        margin-left: 0px;
    }

    .select-mobile{
        margin-bottom: 3px;
        display: inline !important;
        width: fit-content !important;
    }

    .form-inline .form-control {
        width: -webkit-fill-available;
    }
}