:root {
	--primary: #042a45;
	--light: #ffffff;
	--grey: #979494;
	--ivalid: #dad3d3;
}

.mapa #qroMap {
	flex-direction: column;
	display: flex;
	margin-top: 5.7vh;
	width: 100vw;
	height: 94.3vh;
}

.bg-sspm {
	background-color: var(--primary) !important;
}

.logo-sspm {
	height: 5vh;
	width: 5vh;
	margin-left: 3px;
}

.modal {
	flex-direction: row;
	display: center;
}

.modal-backdrop {
	display: flex;
	vertical-align: middle !important;
	justify-content: center !important;
	align-items: center !important;
	align-content: center !important;
	justify-self: center !important;
	justify-items: center !important;
}

/* Important part */
.modal-dialog {
	overflow-y: initial !important;
}
.modal-body {
	height: 75vh;
	overflow-y: auto;
}

.p-user {
	margin: auto;
	top: auto;
}

/*----------------------*/
.action {
	display: inline;
	text-align: left;
}

.online {
	color: #25943d !important ;
}

.offline {
	color: black !important ;
}

.btn-list {
	justify-content: space-between;
	display: flex;
}

.secure {
	color: #0d47a1 !important;
}

.txt-title-mobile {
	display: none;
}

@media screen and (min-width: 1024px) {
	.navbar {
		width: 100vw;
		height: 5.7vh;
	}
}

@media screen and (max-width: 1024px) {
	.mapa #qroMap {
		flex-direction: column;
		display: flex;
		margin-top: 8vh;
		width: 100vw;
		height: 92vh;
	}

	.txt-title-mobile {
		display: inline-block;
	}
}
