:root {
	--primary: #042a45;
	--light: #ffffff;
	--grey: #979494;
	--ivalid: #dad3d3;
}
@keyframes swing {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(5deg);
	}
	70% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes sonar {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
body {
	font-size: 0.9rem;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
.page-wrapper .sidebar-wrapper,
.page-wrapper .filtro,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
	height: 100vh;
}

.page-wrapper .theme {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 4px;
}

.page-wrapper .theme.chiller-theme {
	background: #0058f0;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
	left: 0px;
}
.page-wrapper.toggled .filtro {
	left: 260px;
	top: 0;
}
/*----------------show sidebar button----------------*/
#show-sidebar {
	position: fixed;
	left: 0;
	top: 10px;
	border-radius: 0 4px 4px 0px;
	width: 35px;
	transition-delay: 0.3s;
	z-index: 999;
}
.page-wrapper.toggled #show-sidebar {
	left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
	width: 260px;
	height: 100%;
	max-height: 100%;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 999;
}

/* Nav 2 */
.filtro {
	background-color: var(--primary) !important;
	position: relative;
	top: -300px;
	padding: 10px 20px;
	border-bottom: 1px solid #504f4f;
	z-index: 999;
	max-width: calc(100% - 260px);
	width: calc(100% - 260px);
}
.filtro ul {
	flex-flow: row-reverse;
}
.filtro ul li {
	background-color: #ffffff;
	display: inline-block;
	margin: -0.5%;
	align-content: center !important;
	padding: 0.45rem 1rem;
	border: 1px solid var(--grey) !important;
	border-radius: 5px;
}
.sidebar-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper a {
	text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
	max-height: calc(100% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.sidebar-content.desktop {
	overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
	text-transform: uppercase;
	font-weight: bold;
	flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
	cursor: pointer;
	font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
	padding: 20px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-info {
	float: left;
}

.sidebar-wrapper .sidebar-header .user-name {
	color: #ffffff;
}

.sidebar-wrapper .sidebar-header .user-info > span {
	display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
	font-size: 14px;
	color: var(--light) !important;
}
.sidebar-wrapper .sidebar-header .user-info .logout {
	font-size: 13px;
	color: var(--grey) !important;
}
/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
	padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
	padding-bottom: 10px;
}

/* .sidebar-wrapper .sidebar-menu ul{
  display: inline-block;
  width: 100%;
  padding: 8px 30px 8px 20px;
  background-color: var(--light) !important;
  border: 1px solid var(--primary) !important;
  border-radius: 2px;
}
.sidebar-wrapper .sidebar-menu li a {
  display: inline-block;
  width: 100%;
  background-color: var(--light) !important;
  border: 1px solid var(--primary) !important; 
  border-radius: 2px;
}
.sidebar-wrapper .sidebar-menu .nav-item {
  display: table-footer-group;
  width: 100%;
  background-color: var(--grey)!important;
  border: 1px solid var(--primary) !important; 
  
}


.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
} */

.emergencias {
	border-bottom: 1px solid #525965;
}
.Eunidades {
	border-top: 1px solid #525965;
}
.quitar {
	display: none !important;
}

.dropdownCerrar {
	color: #ffffff !important;
	background-color: var(--primary);
}

.sidebar-wrapper .sidebar-menu ul li {
	display: inline-block;
	width: 100%;
	padding: 8px 30px 8px 20px;
	background-color: var(--light) !important;
	border: 1px solid var(--primary) !important;
	border-radius: 2px;
}

.sidebar-wrapper .sidebar-menu ul div {
	width: auto;
	height: auto;
	align-items: center;
	background-color: var(--light) !important;
}
.sidebar-wrapper .sidebar-menu ul div button {
	font-size: 18px;
	width: 100%;
	align-content: center;
	margin: auto;
	border-radius: 4px;
	color: #0058f0;
}
.sidebar-wrapper .sidebar-menu .falla {
	background-color: var(--ivalid) !important;
}

.sidebar-wrapper .sidebar-menu ul li a {
	font-size: 18px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: auto;
	border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
	display: inline-block;
	animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f105';
	font-style: normal;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background: 0 0;
	position: absolute;
	right: 0px;
	top: 14px;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
	display: inline-block;
	width: 100%;
	/* height: calc(100% - 50px); */
	height: 100%;
	/* background-color: #000000; */
	padding-left: 0px;
	margin-top: -1%;
}

.page-content #qroMap {
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
	width: 100%;
	height: 90vh;
	z-index: 0;
}

.page-wrapper .page-content > div {
	padding: 10px 5px;
}

.page-wrapper .page-content {
	overflow-x: hidden;
}

.page-content #mapa {
	margin-top: -1%;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
	width: 5px;
	height: 7px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #525965;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #525965;
}
::-webkit-scrollbar-thumb:active {
	background: #525965;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
	/* Color del nav var */
	background-color: var(--primary) !important;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
	border-top: 1px solid #504f4f;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	border-color: transparent;
	box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
	color: #000000;
}
.unidad {
	color: #25943d !important ;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
	color: #0058f0;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
	color: #ffffff;
	margin-left: auto;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
	color: #f8be29;
	margin-left: auto;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme
	.sidebar-wrapper
	.sidebar-dropdown
	.sidebar-submenu
	li
	a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
	color: #0058f0;
	text-shadow: 0px 0px 10px rgba(38, 171, 212, 0.014);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	background: #ffffff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
	color: #000000;
}
/* Media para celulares */
@media (max-width: 850px) {
	.page-wrapper.toggled .filtro {
		left: 110px;
		top: 0;
	}
	.sidebar-wrapper {
		width: 110px;
		height: 100%;
		max-height: 100%;
		position: fixed;
		top: 0;
		left: -300px;
		z-index: 999;
	}
	.filtro {
		background-color: var(--primary) !important;
		position: relative;
		top: -300px;
		padding: 10px 20px;
		border-bottom: 1px solid #504f4f;
		z-index: 999;
		/* width: 81.9%; */
		max-width: calc(100% - 100px);
		width: calc(100% - 100px);
	}

	.filtro ul {
		margin-left: 0% !important;
		/* display: none; */
	}
	.filtro ul li {
		padding: 2px 2px;
		border-radius: 10%;
		margin: 0px;
	}

	.filtro strong {
		display: none;
	}

	.sidebar-wrapper .sidebar-header {
		padding: 5px;
		overflow: hidden;
	}

	.sidebar-wrapper .sidebar-header .user-info {
		float: none;
	}

	.sidebar-wrapper .sidebar-header .user-name {
		color: #ffffff;
		display: none;
	}

	.sidebar-wrapper .sidebar-header .user-info > span {
		display: none;
	}

	.sidebar-wrapper .sidebar-header .user-info .user-role {
		font-size: 12px;
		color: var(--light) !important;
		display: block;
	}
	.sidebar-wrapper .sidebar-header .user-info .logout {
		font-size: 12px;
		color: var(--grey) !important;
	}

	/*--------------------sidebar-brand----------------------*/

	.sidebar-wrapper .sidebar-brand {
		padding: 5px 10px;
		display: flex;
		align-items: center;
	}
	.sidebar-wrapper .sidebar-brand h4 {
		display: none;
	}
	.sidebar-wrapper .sidebar-brand > a {
		text-transform: uppercase;
		font-weight: bold;
		flex-grow: 1;
	}

	.sidebar-wrapper .sidebar-brand #close-sidebar {
		cursor: pointer;
		font-size: 20px;
	}

	/*-----------------------sidebar-search------------------------*/

	.sidebar-wrapper .sidebar-search > div {
		padding: 5px 5px;
	}
	#icono {
		display: none;
	}

	/*----------------------sidebar-menu-------------------------*/

	.sidebar-wrapper .sidebar-menu {
		padding-bottom: 10px;
	}

	.sidebar-wrapper .sidebar-menu ul li {
		display: inline;
		width: 100%;
		/* padding: 8px 30px 8px 20px; */
		background-color: var(--light) !important;
		border: 1px solid var(--grey) !important;
		border-radius: 2px;
		align-items: flex-start;
	}
	.action {
		display: inline;
		text-align: left;
	}
	.sidebar-wrapper .sidebar-menu {
		padding-bottom: 10px;
	}
	#unidad {
		display: none;
	}
	.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
		display: inline;
		animation: swing ease-in-out 0.5s 1 alternate;
	}

	#region {
		display: none;
	}

	.page-wrapper .page-content {
		margin-top: -5%;
	}
	.page-content #mapa {
		margin-top: -8%;
		z-index: 990;
	}
}
