:root {
  --azul-sspm-color: #002b45;
  --amarillo-sspm-color: #f8be29;
  --morado-color: #3c246c;
  --verde-color: #4dc22e;
}
#cajaModalInfo {
  border: solid 2px var(--azul-sspm-color);
}
#cabezeraModalInfo {
  background-color: var(--azul-sspm-color);
  color: white;
}
#cajaModalError {
  border: solid 2px var(--amarillo-sspm-color);
}
#cabezeraModalError {
  background-color: var(--amarillo-sspm-color);
  color: black;
}
#cajaModalBien {
  border: solid 2px var(--verde-color);
}
#cabezeraModalBien {
  background-color: var(--verde-color);
  color: black;
}
#cajaModalPregunta {
  border: solid 2px var(--verde-color);
}
#cabezeraModalPregunta {
  background-color: var(--verde-color);
  color: black;
}
#btnCerrarModalNegro {
  color: black;
}
#btnCerrarModalBlanco {
  color: white;
}
.btn-azul {
  background-color: var(--azul-sspm-color);
  color: white !important;
}
.btn-amarillo {
  background-color: var(--amarillo-sspm-color);
  color: black !important;
}
