:root {
  --azul-sspm-color: #042a45;
  --amarillo-sspm-color: #f8be29;
  --grey: #3a3a3a;
}
body {
  background-color: #dcdcdc;
}

.card-header{
  background-color: var(--azul-sspm-color);
  color: white;
}
.card-footer{
  background-color: var(--azul-sspm-color);
  color: white;
  text-align: end;
}