:root {
  --azul-sspm-color: #002b45;
  --amarillo-sspm-color: #f8be29;
}
body {
  padding: 0;
  margin: 0;
}
.scroll_mio {
  overflow-y: scroll;
}

html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#qroMap {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}
.titulo {
  border: 1px solid black;
}
