#qroMap {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  height: 94.1vh;
  width: 100vw;
  display: block;
}

#line-container {
  width: 300px;
  height: 8px;
  margin: 50px auto;
}
#play {
  display: none;
}

#pausa {
  display: none;
}

#repetir {
  display: none;
}

.scroll ul {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  height: 80vh;
  width: 100%;
  border-radius: 20px;
}

.scroll ul {
  overflow: hidden;
  overflow-y: scroll;
}

.scroll ul::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  /* display: none; Ocultar scroll */
}

.scroll ul::-webkit-scrollbar-thumb {
  background: #042a45;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scroll ul::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.scroll ul::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scroll ul::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scroll ul::-webkit-scrollbar-track:hover,
.scroll ul::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.color-blue {
  background: #042a45 !important;
}

.p-user {
	margin: auto;
	top: auto;
  margin-right: 20px;
  margin-left: 5px;
}

.logo-sspm {
	height: 25px;
	width: 25px;
	margin-left: 3px;
}

.select2-selection__rendered {
  line-height: 34px !important;
}
.select2-container .select2-selection--single {
  height: 38px !important;
}
.select2-selection__arrow {
  height: 38px !important;
}

.bt-search {
  margin-left: 5px;
}

.loading-spinner{
    width:30px;
    height:30px;
    border:2px solid indigo;
    border-radius:50%;
    border-top-color:#0001;
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
  }
  @keyframes loadingspinner{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
}

.btn-list {
	justify-content: space-between;
	display: flex;
}

.modal {
	flex-direction: row;
	display: center;
}

.modal-backdrop {
	display: flex;
	vertical-align: middle !important;
	justify-content: center !important;
	align-items: center !important;
	align-content: center !important;
	justify-self: center !important;
	justify-items: center !important;
}

/* Important part */
.modal-dialog {
	overflow-y: initial !important;
}
.modale-body{
	height: 75vh;
	overflow-y: auto;
}

.btn-1b:hover {
  color: #198754;
  background-color: whitesmoke;
  text-decoration: none;
}

.btn-2b:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#qroMap {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    height: 91vh;
    width: 100vw;
    display: block;
  }

	.txt-title-mobile {
		display: inline-block;
	}

  .bt-search {
    margin-left: 5px;
  }

}

@media screen and (max-width: 767px) {
	#qroMap {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    height: 93.8vh;
    width: 100vw;
  }

	.txt-title-mobile {
		display: inline-block;
	}

  .navbar-collapse .collapse .show{
    display: grid;
  }

  .bt-search {
    margin-left: 0px;
  }

  .bt-mb-resp {
    margin-top: 2px;
  }
}

