:root {
  --azul-sspm-color: #042a45;
  --amarillo-sspm-color: #f8be29;
  --grey: #3a3a3a;
}
body {
  background-color: #dcdcdc;
}
.header {
  background-color: var(--azul-sspm-color);
  color: white;
  padding: 10px 20px;
  width: 100%;
}
.footer {
  background-color: var(--azul-sspm-color);
  color: white;
  padding: 10px 20px;
  width: 100%;
  text-align: end;
}
.etiqueta-abordo {
  background-color: #f53b3b;
  color: white !important;
}
/* Estolos del loader */
.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
  color: #ffffff;
}

/* Estilos del video */

.camera {
  display: inline-block;
  position: relative;
  width: 100%; 
  height: calc(100vh - 110px);
  background: #000000 url("../../images/playForwards.svg") no-repeat center center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.camera canvas {
  width: 100%;
  height: calc(100vh - 110px);
}

.camera img{
  display: none;
}
.camera video{
  display: none;
}
.camera.playing {
  background: #000000 url('../../images/playForwards.svg') no-repeat center center;
}

.bottombar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  height: 34px;
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
  -moz-transition: bottom 0.5s, padding 0.5s;
  -webkit-transition: bottom 0.5s, padding 0.5s;
  -o-transition: bottom 0.5s, padding 0.5s;
  -ms-transition: bottom 0.5s, padding 0.5s;
  transition: bottom 0.5s, padding 0.5s;
  display: none;
}

.bottombar .btn {
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-transition: width 0.5s, opacity 0.5s;
  -webkit-transition: width 0.5s, opacity 0.5s;
  -o-transition: width 0.5s, opacity 0.5s;
  -ms-transition: width 0.5s, opacity 0.5s;
  transition: width 0.5s, opacity 0.5s;
}

.bottombar .pauseButton {
  position: relative;
  float: left;
  background-image: none;
  z-index: 1;
}
              
.bottombar .pauseButton:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../../images/arrowRight.svg') no-repeat center center transparent;
  background-size: auto 17px;
  opacity: 0.5;
}

.bottombar.onPause .pauseButton:after {
  background: url('../../images/arrowLeft.svg') no-repeat center center transparent;
}

.videoControls .bottombar .btn.pauseButton.hidden,
.videoControls .bottombar .btn.pauseButton.featureDisabled {
  display: block !important;
  width: 34px !important;
  opacity: 1 !important;
}

.bottombar .playbackBarButtons {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  opacity: 1;
  z-index: 0;
  width: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-transition: left 0.5s, opacity 0.5s;
  -webkit-transition: left 0.5s, opacity 0.5s;
  -o-transition: left 0.5s, opacity 0.5s;
  -ms-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;
}

.bottombar .playbackBarButtons .playForwardButton {
  display: inline-block;
  /* float: right; */
  background-image: url('../../images/playForwards.svg');
  background-size: auto 20px;
}
.bottombar .playbackBarButtons .playBackButton {
  display: none;
  float: left;
  background-image: url('../../images/playBackwards.svg');
  background-size: auto 20px;
}

.bottombar .playbackBarButtons .playTimeIndex {
  display: inline-block;
  /* float: left; */
  width: auto;
  height: 30px;
  margin: 0 110px;
  font-size: 12px;
  line-height: 30px;
  vertical-align: top;
  color: white;
}

.bottombar .playbackBarButtons .playBackButton.active,
.bottombar .playbackBarButtons .playForwardButton.active {
  background-image: url('../../images/pause.svg');
  background-size: 17px auto;
}

.ptt {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 30px;
}

.ptt.recording {
  background-color: azure;
}
.bottombar .playbackBarButtons .playBackButton {
  display: inline-block;
  background-image: url('../../images/playBackwards.svg');
  background-size: auto 20px;
  /* float: left; */
}

@media(max-width: 850px) {
  .header{
    padding: 5px 5px;
  }
  .header h5{
    font-size: 12px;
  }
  .camera {  
    height: calc(100vh - 90px);
  }
  .camera canvas {
    height: calc(100vh - 90px);
  }
  .footer {
    padding: 10px 20px;
    width: 100%;
    text-align: end;
  }
}