:root {
  --azul-sspm-color: #042a45;
  --amarillo-sspm-color: #f8be29;
  --grey: #3a3a3a;
  --blanco: #ffffff
}
body {
  background-color: #dcdcdc;
}
.header {
  background-color: var(--azul-sspm-color);
  color: white;
  padding: 10px 20px;
  width: 100%;
}
.canales {
  width: 100%; 
  bottom: 0;
  right: 0;
}
.canales ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}
/* .canales li{
  border-right: solid 3px #f53b3b;
} */
.canales li {
 border-right: solid 2px #dcdcdc;
}
.canales button {
   padding: 0.2rem 10rem;
   border: none;
  outline: none;
  cursor: pointer;
}

.canales .active, button:hover{
  background-color: #666;
  color: white;
}
.footer {
  background-color: var(--azul-sspm-color);
  color: white;
  padding: 10px 20px;
  width: 100%;
  text-align: end;
}
.etiqueta-abordo {
  background-color: #f53b3b;
  color: white !important;
}

.camera {
  width: 100%; 
}

.camera video{
  width: 100%;
  height: calc(100vh - 155px);
  /* display: none; */
  /* height: 50%; */
}
.camera.playing {
  background: #000000 url('../../images/playForwards.svg') no-repeat center center;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
@media(max-width: 910px) {
  .canales {
    width: 100%; 
    bottom: 0;
    right: 0;
    
  }
  .canales ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
  }
  /* .canales li{
    border-right: solid 3px #f53b3b;
  } */
  .canales li {
   border-right: solid 2px #dcdcdc;
   display:inline;
  }
  .canales button {
    padding: 0.2rem 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .canales .active, button:hover{
    background-color: #666;
    color: white;
  }
}